{% extends "base.html" %}

{% block content %}

    <section class="new">
        <input type="text" placeholder="Create new tasklet…" autofocus="autofocus">
    </section>

    {% for grouper, tasklets in tasklets|groupby("done") %}
        {% for tasklet in tasklets %}
        <section class="{{ tasklet.priority.name }} {{ "Done" if tasklet.done }}">
            {{ tasklet.text }}

            <span class="delete">X</span>
        </section>
        {% endfor %}

        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

{% endblock %}
